<!DOCTYPE html>
<html>
    {% load static %}
    <link href="{% static "css/style.css"%}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet">
    <script src="{% static "js/jquery.min.js"%}" ></script>
    <script src="{% static "js/bootstrap.js"%}" ></script> 
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">eestec Congress Presence System</a>
            </div>
        </div>
       <div class="container">
            <div class="accordion" id="accordion2">
                {%for lc in all_missing%}
                <div class="accordion-group red">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{lc.name}}">
                            {{lc.name}} 0/{{ lc.missing|length }}
                        </a>
                    </div>
                    <div id="{{lc.name}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for name in lc.missing%}
                                {{name}}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%for lc in some_missing%}
                <div class="accordion-group yellow">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{lc.name}}">
                            {{lc.name}} {{ lc.missing|length }}/{{lc.count}} 
                        </a>
                    </div>
                    <div id="{{lc.name}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {% for name in lc.missing%}
                                {{name}}
                            {%endfor%}
                        </div>
                    </div>
                </div>
                {%endfor%}
                {%for lc in all_here%}
                <div class="accordion-group green">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{lc.name}}">
                            {{lc.lc}} {{ lc.count }}/{{lc.count}} 
                        </a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </body>
    </html>
